<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rode1lift.ashwin.uomtrust.mu.rod1lift">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-feature android:name="android.hardware.camera" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".Activities.ActivityLogin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.ActivityMain"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.ActivityCompleteDriverRegistration"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".Activities.PickerActivityCarMake"
            android:theme="@style/Theme.UserDialog"/>

        <activity
            android:name=".Activities.PickerActivityCarPlateNum"
            android:theme="@style/Theme.UserDialog"/>


        <activity
            android:name=".Activities.PickerActivityProfileName"
            android:theme="@style/Theme.UserDialog"/>

        <activity
            android:name=".Activities.PickerActivityCarSeats"
            android:theme="@style/Theme.UserDialog"/>

        <activity
            android:name=".Activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".Activities.ActivityCreateTrip"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Activities.PickerActivityTripPrice"
            android:theme="@style/Theme.UserDialog"/>

        <activity
            android:name=".Activities.ActivityDriverViewUserDetails"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".Activities.ActivityDriverManageRequest"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>